<div class="ui stackable borderless menu">
  <div class="item">
    <em data-emoji=":computer:" class="medium"></em>
  </div>
  <div class="item">
    <span class='ui large text'>პირველი აპლიკაცია</span>
  </div>
</div>
<div class="ui grid centered container">

  <div class="eight wide column">
    <div class="ui segment">
      <form #addWebsiteForm class="ui form">
        <!--სათაურის ინფუთი-->
        <div class="field">
          <div class="ui left icon input">
            <input type="text" class="input-el" placeholder="შეიყვანეთ სათაური" #newTitle>
            <i class="heading icon"></i>
          </div>
        </div>
        <!--ლინკის ინფუთი-->
        <div class="field">
          <div class="ui left icon input">
            <input type="url" class="input-el" placeholder="შეიყვანეთ ბმული" #newLink>
            <i class="linkify icon"></i>
          </div>
        </div>

        <!--სურათის ინფუთი-->
        <div class="field">
          <div class="ui left icon input">
            <input type="url" class="input-el" placeholder="შეიყვანეთ სურათის ბმული" #newImg>
            <i class="image icon"></i>
          </div>
        </div>

        <button class="ui basic blue button" (click)="addWebsite(newTitle, newLink, newImg, addWebsiteForm)">
          <i class="plus icon"></i>
          დამატება
        </button>

      </form>
    </div>
  </div>

</div>

<div class="ui grid centered container">
  <website-card *ngFor="let website of sortedWebsites()" [website]="website"></website-card>
</div>